<h2>Редактировать профиль</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="well">
      <div class="field">
        <p><strong>Ваш партнерский код:</strong></p>
        <p class='highlight'><%= current_user.referral_code %></p>
        <p><strong>Приглашайте коллег регистрироваться с ним и зарабатывайте <%= current_user.bonus_percentage %>% от потраченных ими оплаченных кредитов</strong></p>
        <p><strong>Если ваш коллега зарегистрируется, вы оба получите по 1500 бонусных кредитов</strong></p>
      </div>
    </div>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => 'form-control', autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
      <%= f.label "Имя" %><br />
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label "Телефон" %><br />
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>

    <div class="control-group">
      <%= f.label "Город", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :city_id, City.all, :id, :name, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:city]) %>
    </div>

    <div class="field">
      <%= f.label "Информация" %>
      <div>
        <span class="text-success">Укажите подробную информацию о вас. Ваш сайт и т. д.</span>
        <br>
        <span class="text-warning animated infinite fadeIn">Также укажите УНП, наименование Юр. Лица и орган, выдавший свидетельство о регистрации. Заранее подготовьте скан или отчетливую фотографию свидетельства. Мы запросим его позднее!</span>
      </div>
      <%= f.cktext_area :information, cols: 15, rows: 10, :class => 'form-control' %>
    </div>

  <div class="field">
    <%= f.label "Пароль" %> <i>(оставьте пустым, если не хотите менять)</i><br />
    <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Текущий пароль" %> <i><strong class="text-danger animated fadeIn infinite">(необходимо подтвердить текущий пароль, чтобы изменения вступили в силу)</strong></i><br />
    <%= f.password_field :current_password, :class => 'form-control', autocomplete: "off" %>
  </div>

  <div class="top-buffer"></div>
  <div class="actions">
    <%= f.submit "Сохранить", :class => 'btn btn-success' %>
  </div>
<% end %>

<div class="top-buffer"></div>
<%= link_to "Назад", :back, class: 'btn btn-primary' %>

<div class="top-buffer-2"><hr></div>
<h3>Удаление учетной записи</h3>

<p> <%= button_to "Удалить мою учетную запись навсегда", registration_path(resource_name), :class => 'btn btn-danger',
                  data: { confirm: "Вы уверены?" }, method: :delete %></p>

