<div class="well animated infinite pulse">
  <div class="text-danger">
    <h3>Внимание! Регистрация предназначена исключительно для продавцов автозапчастей. Если вы хотите заказать какую-то запчасть, вам необходимо просто заполнить форму на главной странице</h3>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

      <div class="field">
        <%= f.label 'Имя' %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label "Телефон" %><br />
        <%= f.text_field :phone %>
      </div>

  <div class="field">
    <%= f.label "Пароль" %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="field">
      <%= f.label 'Ваш партнерский код (если есть)' %><br />
      <%= f.text_field :promo_code %>
    </div>
  <div class="top-buffer"></div>
  <div class="actions">
    <%= f.submit "Зарегистрироваться", class: 'btn btn-success' %>
  </div>
<% end %>
<div class="top-buffer-2"></div>
<hr>
Уже зарегистрированы?
<%= render "devise/shared/links" %>
