<%= render :partial => 'orders/brief' %>

<%= form_for [@order, @comment], :html => { :class => "form-horizontal comment" } do |f| %>

    <% if @comment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="">
      <div class="">
        <%= f.hidden_field :order_id, :value => @order.id, :class => 'form-control' %>
      </div>
    </div>
    <div class="">
      <div class="">
        <%= f.hidden_field :parent_comment_id, :value => @comment.parent_comment_id, :class => 'form-control' %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label 'Текст', :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :content, cols: 20, rows: 20, :class => 'form-control' %>
    </div>
    <%= error_span(@comment[:content]) %>
  </div>

    <% if @secret %>
        <%= f.hidden_field :secret, :value => @secret %>
    <% end %>

    <div class="top-buffer"></div>

  <%= f.submit 'Отправить', :class => 'btn btn-primary' %>
    <%= link_to 'Назад',
                :back, :class => 'btn btn-primary'  %>

<% end %>
