<%- model_class = Comment -%>

<%= render :partial => 'orders/brief' %>

<div class="page-header">
  <h1>Ответы продавцов</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Номер заказа</th>
    <th>Продавец</th>
    <th>Номер заказа</th>
    <th>Сообщение</th>
    <th>Создано</th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <% if @secret || !user_signed_in? %>
            <td><%= link_to comment.id, order_comment_path(id: comment.id, secret: comment.order.secret), :class => 'btn btn-primary' %></td>
        <% else %>
            <td><%= link_to comment.id, order_comment_path(id: comment.id) %></td>
        <% end %>
        <td><%= comment.user.name %></td>
        <td><%= comment.order_id %></td>
        <td><%= sanitize truncate(comment.content.html_safe, :omission => "...", :length => 50) %></td>
        <td><%= l comment.created_at %></td>
        <td>
          <% if @secret || !user_signed_in? %>
              <%= link_to "Сообщения (#{comment.child_comments.count})",
                          order_comment_path(id: comment.id, secret: comment.order.secret), :class => 'btn btn-primary' %>
          <% else %>
              <%= link_to "Сообщения (#{comment.child_comments.count})",
                          order_comment_path(id: comment.id), :class => 'btn btn-primary' %>
          <% end %>
          <% if user_signed_in? && comment.user.id == current_user.id %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_order_comment_path(id: comment.id), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          order_comment_path(id: comment.id),
                          :method => :delete,
                          :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_order_comment_path,
                :class => 'btn btn-primary' %>
<% end %>
