<%- model_class = Comment -%>

<%= render :partial => 'orders/brief' %>

<div class="page-header" id="orders">
  <h1>Ответ</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Продавец:</strong></dt>
  <dd><%= @comment.user.name %></dd>
  <dt><strong>Регион продавца:</strong></dt>
  <dd><%= @comment.user.city.name if @comment.user.city %></dd>
  <dt><strong>Телефон продавца:</strong></dt>
  <dd><%= @comment.user.phone %></dd>
  <dt><strong>О продавце:</strong></dt>
  <dd><%= sanitize @comment.user.information %></dd>
  <dt><strong>Номер заказа:</strong></dt>
  <dd><%= @comment.order_id %></dd>
  <dt><strong>Сообщение:</strong></dt>
  <dd><%= sanitize @comment.content %></dd>
</dl>

<% if user_signed_in? && @comment.user.id == current_user.id %>
    <%= link_to "Назад",
                order_comments_path, :class => 'btn btn-primary' %>
    <%= link_to "Вернуться к заказу", order_path(@comment.order), :class => 'btn btn-primary' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_order_comment_path(@comment.order_id, @comment), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                order_comment_path(@comment.order_id, @comment),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-danger' %>
<% else %>
    <%= link_to "Назад",
                order_comments_path(:secret => @comment.order.secret), :class => 'btn btn-primary' %>
    <%= link_to "Вернуться к заказу", order_path(@comment.order, :secret => @comment.order.secret), :class => 'btn btn-primary' %>
<% end %>

<div class="top-buffer">
  <% @comment.child_comments.each do |comment| %>
      <div class="well">
        <strong>От: </strong>
        <% if comment.user %>
            <%= comment.user.name %>
        <% else %>
            <%= comment.order.name %> (Заказчик)
        <% end %>
        <hr>
        <strong>Сообщение: </strong>
        <%= sanitize comment.content %>
      </div>
  <% end %>
</div>

<% if user_signed_in? && !@secret %>
    <%= link_to "Ответить",
                new_order_comment_path(:parent_comment_id => @comment.id),
                :class => 'btn btn-primary' %>
<% else %>
    <%= link_to "Ответить",
                new_order_comment_path(:parent_comment_id => @comment.id, :secret => @comment.order.secret),
                :class => 'btn btn-primary' %>
<% end %>
