<p id="notice"><%= notice %></p>

<h1>Listing Detail Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detail_types.each do |detail_type| %>
      <tr>
        <td><%= detail_type.name %></td>
        <td><%= link_to 'Show', detail_type %></td>
        <td><%= link_to 'Edit', edit_detail_type_path(detail_type) %></td>
        <td><%= link_to 'Destroy', detail_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail type', new_detail_type_path %>
