<h2>Статус подписки по email</h2>

<div class="row">
  <div class="col-lg-12">
    <p>Подписка истекает: <%= current_user.email_subscription.expires %></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><%= link_to "Продлить подписку на месяц (#{current_user.email_subscription.subscription_month_price} кредитов)", add_email_subscription_month_path, class: 'btn btn-primary' %></p>
  </div>
</div>