<%= form_for(@transmission) do |f| %>
  <% if @transmission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transmission.errors.count, "error") %> prohibited this transmission from being saved:</h2>

      <ul>
      <% @transmission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
