<p id="notice"><%= notice %></p>

<h1>Listing Transmissions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transmissions.each do |transmission| %>
      <tr>
        <td><%= transmission.name %></td>
        <td><%= link_to 'Show', transmission %></td>
        <td><%= link_to 'Edit', edit_transmission_path(transmission) %></td>
        <td><%= link_to 'Destroy', transmission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transmission', new_transmission_path %>
