<h4>Ссылка на заказ: <%= link_to order_url(@order),
                                 order_url(@order) %></h4>
<dl class="dl-horizontal">
  <dt><strong>Регион:</strong></dt>
  <dd><%= @order.city.name %></dd>
  <dt><strong>Имя:</strong></dt>
  <dd><%= @order.name %></dd>
  <dt><strong>Телефон:</strong></dt>
  <dd><%= @order.phone %></dd>
  <dt><strong>Марка:</strong></dt>
  <dd><%= @order.make.name %></dd>
  <dt><strong>Модель:</strong></dt>
  <dd><%= @order.model %></dd>
  <dt><strong>Тип кузова:</strong></dt>
  <dd><%= @order.body.name %></dd>
  <dt><strong>Год:</strong></dt>
  <dd><%= @order.year %></dd>
  <dt><strong>Тип двигателя:</strong></dt>
  <dd><%= @order.engine.name %></dd>
  <dt><strong>Объем двигателя:</strong></dt>
  <dd><%= @order.engine_volume %></dd>
  <dt><strong>Тип трансмиссии:</strong></dt>
  <dd><%= @order.transmission.name %></dd>
  <dt><strong>Тип детали:</strong></dt>
  <dd><%= @order.detail_type.name %></dd>
  <dt><strong>VIN:</strong></dt>
  <dd><%= @order.vin %></dd>
  <dt><strong>Описание:</strong></dt>
  <dd><%= simple_format @order.details %></dd>
</dl>