<% if user_signed_in? %>
    <p>
      <span>Здравствуйте, <%= current_user.name %>! <%= link_to " Профиль", edit_user_registration_path %> | </span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    </p>
    <p>
      Баланс: <span><%= current_user.silver_credits %> Бонусных кредитов</span> | <span><%= current_user.gold_credits %> Кредитов</span> | <%= link_to 'Пополнить счет', welcome_add_funds_path %>

    </p>
    <p>
      Email подписка на новые заказы: <%= current_user.email_subscription.active ? 'Активна' : 'Неактивна' %> | <%= link_to 'Управление подпиской', email_subscription_status_path %>
    </p>
<% else %>

<% end %>