<section id="product" class="section dark">
  <div class="container">
    <div class="section-header animated fadeInDown visible" data-animation="fadeInDown">
      <h2>КАК <span class="highlight">ПОПОЛНИТЬ СЧЕТ</span></h2>
      <div class="sub-heading">
        <div class="text-success animated fadeIn infinite">
          <strong>Свяжитесь с нами по телефонам: +375447165233 или +375291631849</strong>
        </div>
      </div>
    </div>
    <div class="section-content row">

      <div class="col-sm-4">
        <div class="package-column animated flipInY visible" data-animation="flipInY">
          <div class="package-title">Персона</div>
          <div class="package-price">
            <div class="price">300 <span class="currency">000</span></div>
            <div class="period">бел. рублей</div>
            <div class="period">за <strong>1000</strong> кредитов</div>
          </div>
          <div class="package-detail">
            <ul class="list-unstyled">
              <li>При покупке<strong> от 1000 до 6000 </strong>кредитов</li>
            </ul>
            <!--
            <a href="#" class="btn btn-primary btn-block">Get started</a>
            -->
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column animated flipInY visible" data-animation="flipInY">
          <div class="package-title">ПРОФЕССИОНАЛ</div>
          <div class="package-price">
            <div class="price">250 <span class="currency">000</span></div>
            <div class="period">бел. рублей</div>
            <div class="period">за <strong>1000</strong> кредитов</div>
          </div>
          <div class="package-detail">
            <ul class="list-unstyled">
              <li>При покупке<strong> от 6000 до 12000 </strong>кредитов</li>
            </ul>
            <!--
            <a href="#" class="btn btn-primary btn-block">Get started</a>
            -->
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column animated flipInY visible" data-animation="flipInY">
          <div class="package-title">МОНОПОЛИСТ</div>
          <div class="package-price">
            <div class="price"><strong>200</strong> <span class="currency">000</span></div>
            <div class="period">бел. рублей</div>
            <div class="period">за <strong>1000</strong> кредитов</div>
            <div class="text-danger animated infinite pulse"><strong>ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</strong></div>
          </div>
          <div class="package-detail">
            <ul class="list-unstyled">
              <li>При покупке<strong> от 12000 </strong>кредитов</li>
            </ul>
            <!--
            <a href="#" class="btn btn-primary btn-block">Get started</a>
            -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<p>
  Возможна оплата наличными в офисе, либо безналичный расчет.
</p>

<p class="text-muted">В ближайшее время будет реализована оплата по пластиковым карточкам онлайн.</p>

<div class="top-buffer-2"></div>