<div class="well">
  <h2>Новый способ продажи запчастей и поиска клиентов</h2>

  <p>Зарегистрируйте свой магазин/авторазборку и получите стабильный поток новых клиентов!</p>

  <h2>Как работает сервис "Zappo.by"?</h2>
  <ol>
    <li>Покупатель формирует на сайте запрос, в котором указывает какие запчасти ему нужны</li>
    <li>Если его запрос касается марки авто и типов запчастей, на которых Вы специализируетесь, он поступает в Ваш
      Рабочий кабинет, а также на Ваш e-mail
    </li>
    <li>В Рабочем кабинете Вы отправляете клиенту свое предложение, в котором указываете информацию о наличии запчастей
      и их стоимости, либо звоните ему сразу
    </li>
    <li>Клиент получает ответ и производит покупку</li>
  </ol>

  <p>Доступ к сервису абсолютно бесплатен. Вы не тратите деньги на рекламу и время на "пустые" телефонные звонки!</p>

  <hr>
  <h4 class="text-primary">Для продавцов:
    <div class="top-buffer"></div>
    <%= link_to 'Войти', new_user_session_path, class: 'btn btn-success' %>
    / <%= link_to 'Зарегистрироваться и начать работать (Бесплатно)', new_user_registration_path, class: 'btn btn-primary' %></h4>
</div>
