<div class="jumbotron animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-center">
        <h1><i class="fa fa-comment-o jumbotron-icon"></i></h1>
        <p>Вы отправляете запрос</p>
      </div>
      <div class="col-lg-1 text-center">
        <h1><i class="fa fa-chevron-right jumbotron-arrow"></i></h1>
      </div>
      <div class="col-lg-2 text-center">
        <h1><i class="fa fa-paper-plane jumbotron-icon"></i></h1>
        <p>Запрос рассылается по магазинам</p>
      </div>
      <div class="col-lg-1 text-center">
        <h1><i class="fa fa-chevron-right jumbotron-arrow"></i></h1>
      </div>
      <div class="col-lg-2 text-center">
        <h1><i class="fa fa-check-square-o jumbotron-icon"></i></h1>
        <p>Вы выбираете наилучшее предложение</p>
      </div>

      <div class="col-lg-3">
        <p>
          <strong>ZAPPO</strong> – это:
        <ul>
          <li>Возможность быстро купить автозапчасти по низким ценам</li>
          <li>Сравнение цен разных магазинов и разборок</li>
          <li>Основательная экономия времени на поиск</li>
        </ul>
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          <strong>Для этого Вы всего лишь:</strong>
        <ol>
          <li><strong>Заполняете форму</strong> запроса, указывая описание запчасти</li>

          <li><strong>Получаете предложения</strong> от магазинов и выбираете наилучшее!</li>
        </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<% @order = Order.new %>

<%= render partial: 'orders/form' %>

<div class="top-buffer"></div>
