<div class="top-buffer"></div>
<div id="order-details">
  <div class="row">
    <div class="col-lg-2 text-center"><h2 class='text-muted'><i class="fa fa-car"></i></h2></div>
    <div class="col-lg-4">
      <div class="row"><div class="col-lg-5"><strong>Марка</strong></div><div class="col-lg-7"><%= @order.make.name %></div></div>
      <div class="row"><div class="col-lg-5"><strong>Модель</strong></div><div class="col-lg-7"><%= @order.model %></div></div>
      <div class="row"><div class="col-lg-5"><strong>Год выпуска</strong></div><div class="col-lg-7"><%= @order.year %></div></div>
      <div class="row"><span class="<%= 'text-muted' if @order.body.name == 'Не указано' %>"><div class="col-lg-5"><strong>Тип кузова</strong></div><div class="col-lg-7"><%= @order.body.name %></div></span></div>
      <div class="row"><div class="col-lg-5"><strong class="<%= 'text-muted' if @order.vin == '' %>">Номер кузова</strong></div><div class="col-lg-7">
        <% if user_signed_in? && @order.vin == '' %>
            <span class="text-muted text-danger">Не указано, VIN запрошен у клиента</span>
        <% elsif @order.vin == '' %>
            <span class="text-warning animated infinite flash">Пожалуйста, укажите номер кузова (VIN) из тех. паспорта при первой возможности. Подбор многих запчастей без него невозможен</span>
        <% else %>
            <%= @order.vin %>
        <% end %>
      </div></div>
      <div class="row"><span class="<%= 'text-muted' if @order.engine.name == 'Не указано' %>"><div class="col-lg-5"><strong>Тип двигателя</strong></div><div class="col-lg-7"><%= @order.engine.name %></div></span></div>
      <div class="row"><span class="<%= 'text-muted' if @order.engine_volume == '' %>"><div class="col-lg-5"><strong>Объем</strong></div><div class="col-lg-7"><%= @order.engine_volume != '' ? @order.engine_volume : 'Не указано' %></div></span></div>
      <div class="row"><span class="<%= 'text-muted' if @order.transmission.name == 'Не указано' %>"><div class="col-lg-5"><strong>Трансмиссия</strong></div><div class="col-lg-7"><%= @order.transmission.name %></div></span></div>
    </div>

    <div class="col-lg-2 text-center"><h2 class='text-muted'><i class="fa fa-user"></i></h2></div>
    <div class="col-lg-4">
      <div class="row"><div class="col-lg-5"><strong>Регион</strong></div><div class="col-lg-7"><%= @order.city.name %></div></div>
      <div class="row"><div class="col-lg-5"><strong>Имя</strong></div><div class="col-lg-7"><%= @order.name %></div></div>
      <div class="row"><div class="col-lg-5"><strong>Телефон</strong></div><div class="col-lg-7"><%= @order.phone %></div></div>
    </div>
  </div>

  <div class="top-buffer-2"></div>

  <div class="row">
    <div class="col-lg-2 text-center"><h2 class='text-muted'><i class="fa fa-bars"></i></h2></div>
    <div class="col-lg-10">
      <div class="row"><div class="col-lg-2"><strong>Тип детали</strong></div><div class="col-lg-10"><%= @order.detail_type.name %></div></div>
      <div class="row"><div class="col-lg-2"><strong>Описание</strong></div><div class="col-lg-10"><%= simple_format @order.details %></div></div>
      <div class="row"><div class="col-lg-2 text-muted"><strong>Создано</strong></div><div class="col-lg-10 text-muted"><%= @order.created_at %></div></div>
    </div>
  </div>

</div>

<hr>