<% if user_signed_in? %>
    <script>
        $(function () {
            $("#filters").accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
    <% if !current_user[:filter_options] %>
        <p class="bg-danger">Для дальнейшей работы, примените интересующие вас фильтры, нажав "ПРИМЕНИТЬ ФИЛЬТРЫ" в выпадающем меню "Фильтры" ниже. Это сообщение перестанет отображаться после выполнения операции</p>
    <% end %>
    <div class="text-right">
      <p><span id="timer-text">Список обновляется автоматически раз в 45 секунд</span> <a id='stop-timer' class="btn-primary btn-sm"><i class="fa fa-pause"></i></a> <a class="hidden btn-sm btn-success" id='refresh-button' onclick='location.reload(true); return false;'><i class="fa fa-refresh"></i></a> </p>
    </div>

    <div id="filters">
      <h3><i class='fa fa-filter'></i> Фильтры (Свернуть/Развернуть)</h3>
      <%= form_for :filter_options, :url => {action: :filter} do |f| %>
          <div class="row"><h5 class="text-warning animated shake">Внимание! Фильтры применяются также к подписке о заказах (email/sms)</h5></div>
          <div class="row">
            <h2>Марки</h2>

            <p>
              <a class="btn btn-primary" onClick="toggle('filter_options[makes][]')"><b><i class="fa fa-check-square-o"></i>
                Выбрать все</b></a>
              <a class="btn" onClick="unToggle('filter_options[makes][]')"><b>Снять все галочки</b></a>
            <hr>
            </p>
            <div>
              <%= f.collection_check_boxes :makes, @makes, :id, :name do |c| %>
                  <div class="checkbox-wrapper col-lg-2">
                    <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['makes'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                        <%= c.check_box.insert(-3, 'checked="checked" ') %>
                    <% else %>
                        <%= c.check_box %>
                    <% end %>
                    <%= c.label %>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="row top-buffer-2">
          <h2>Регионы</h2>

          <p>
            <a class="btn btn-primary" onClick="toggle('filter_options[cities][]')"><b><i class="fa fa-check-square-o"></i>
              Выбрать все</b></a>
            <a class="btn" onClick="unToggle('filter_options[cities][]')"><b>Снять все галочки</b></a>
          <hr>
          </p>
          <p><%= f.collection_check_boxes :cities, @cities, :id, :name do |c| %>
              <div class="checkbox-wrapper col-lg-2">
                <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['cities'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                    <%= c.check_box.insert(-3, 'checked="checked" ') %>
                <% else %>
                    <%= c.check_box %>
                <% end %>
                <%= c.label %>
              </div>
            <% end %>
          </p>
          </div>

          <div class="row top-buffer-2">
          <h2>Тип кузова</h2>

          <p>
            <a class="btn btn-primary" onClick="toggle('filter_options[bodies][]')"><b><i class="fa fa-check-square-o"></i>
              Выбрать все</b></a>
            <a class="btn" onClick="unToggle('filter_options[bodies][]')"><b>Снять все галочки</b></a>
          <hr>
          </p>
          <p><%= f.collection_check_boxes :bodies, @bodies, :id, :name do |c| %>
              <div class="checkbox-wrapper col-lg-5">
                <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['bodies'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                    <%= c.check_box.insert(-3, 'checked="checked" ') %>
                <% else %>
                    <%= c.check_box %>
                <% end %>
                <%= c.label %>
              </div>
            <% end %>
          </p>
          </div>

          <div class="row top-buffer-2">
          <h2>Тип запчасти</h2>

          <p>
            <a class="btn btn-primary" onClick="toggle('filter_options[detail_types][]')"><b><i class="fa fa-check-square-o"></i>
              Выбрать все</b></a>
            <a class="btn" onClick="unToggle('filter_options[detail_types][]')"><b>Снять все галочки</b></a>
          <hr>
          </p>
          <p><%= f.collection_check_boxes :detail_types, @detail_types, :id, :name do |c| %>
              <div class="checkbox-wrapper col-lg-5">
                <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['detail_types'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                    <%= c.check_box.insert(-3, 'checked="checked" ') %>
                <% else %>
                    <%= c.check_box %>
                <% end %>
                <%= c.label %>
              </div>
            <% end %>
          </p>
          </div>

          <div class="row top-buffer-2">
          <h2>Тип двигателя</h2>

          <p>
            <a class="btn btn-primary" onClick="toggle('filter_options[engines][]')"><b><i class="fa fa-check-square-o"></i>
              Выбрать все</b></a>
            <a class="btn" onClick="unToggle('filter_options[engines][]')"><b>Снять все галочки</b></a>
          <hr>
          </p>
          <p><%= f.collection_check_boxes :engines, @engines, :id, :name do |c| %>
              <div class="checkbox-wrapper col-lg-2">
                <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['engines'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                    <%= c.check_box.insert(-3, 'checked="checked" ') %>
                <% else %>
                    <%= c.check_box %>
                <% end %>
                <%= c.label %>
              </div>
            <% end %>
          </p>
          </div>

          <div class="row top-buffer-2">
          <h2>Тип трансмиссии</h2>

          <p>
            <a class="btn btn-primary" onClick="toggle('filter_options[transmissions][]')"><b><i class="fa fa-check-square-o"></i>
              Выбрать все</b></a>
            <a class="btn" onClick="unToggle('filter_options[transmissions][]')"><b>Снять все галочки</b></a>
          <hr>
          </p>
          <p><%= f.collection_check_boxes :transmissions, @transmissions, :id, :name do |c| %>
              <div class="checkbox-wrapper col-lg-2">
                <% if current_user[:filter_options].nil? || JSON.parse(current_user[:filter_options]['transmissions'].to_json, :quirks_mode => true).include?(c.value.to_s) %>
                    <%= c.check_box.insert(-3, 'checked="checked" ') %>
                <% else %>
                    <%= c.check_box %>
                <% end %>
                <%= c.label %>
              </div>
            <% end %>
          </p>
          </div>
          <hr>
          <span>
            <button type="submit" class="btn btn-primary"><i class='fa fa-filter'></i> Применить фильтры</button>
          </span>
      <% end %>
    </div>
    <div class="top-buffer"></div>

<% end %>
