<%= form_for @order, :html => {:class => "form-horizontal order"} do |f| %>

    <% if @order.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Ошибки при сохранении, проверьте введенные данные</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="well order-form">
      <div class="well">
        <div class="col-lg-4">
          <div class="control-group">
            <%= f.label 'Email', :class => 'control-label required' %> <span class="text-success">Не виден для продавцов</span>
            <div class="controls">
              <%= f.text_field :email, :class => 'form-inline full-width', value: cookies[:email] %>
            </div>
            <%= error_span(@order[:email]) %>
          </div>
          <div class="control-group">
            <%= f.label 'Имя', :class => 'control-label required' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'form-inline full-width', value: cookies[:name] %>
            </div>
            <%= error_span(@order[:name]) %>
          </div>
          <div class="control-group">
            <%= f.label 'Регион', :class => 'control-label required' %>
            <div class="controls">
              <%= f.collection_select :city_id, City.all, :id, :name, {selected: cookies[:city]}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:city]) %>
          </div>
          <div class="control-group">
            <%= f.label 'Телефон', :class => 'control-label required' %>
            <div class="controls">
              <%= f.text_field :phone, :class => 'form-inline full-width', value: cookies[:phone], placeholder: '+375XXXXXXXXX' %>
            </div>
            <%= error_span(@order[:phone]) %>
          </div>

          <div class="control-group">
            <%= f.label 'Тип детали', :class => 'control-label required' %>
            <div class="controls">
              <%= f.collection_select :detail_type_id, DetailType.all, :id, :name, {}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:detail_type]) %>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="control-group">
            <%= f.label 'Марка автомобиля', :class => 'control-label required' %>
            <div class="controls">
              <%= f.collection_select :make_id, Make.all, :id, :name, {selected: cookies[:make]}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:make]) %>
          </div>
          <div class="control-group">
            <%= f.label 'Модель автомобиля', :class => 'control-label required' %>
            <div class="controls">
              <%= f.text_field :model, :class => 'form-inline full-width', value: cookies[:model] %>
            </div>
            <%= error_span(@order[:model]) %>
          </div>
          <div class="control-group">
            <%= f.label 'Год выпуска', :class => 'control-label required' %>
            <div class="controls">
              <%= f.text_field :year, :size=>"4", :maxlength=>"4", :class => 'form-inline full-width', value: cookies[:year] %>
            </div>
            <%= error_span(@order[:year]) %>
          </div>
        </div>

        <div class="col-lg-4">

          <div class="control-group">
            <%= f.label 'Тип кузова', :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select :body_id, Body.all, :id, :name, {selected: cookies[:body]}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:body]) %>
          </div>

          <div class="control-group">
            <%= f.label 'Тип двигателя', :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select :engine_id, Engine.all, :id, :name, {selected: cookies[:engine]}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:engine]) %>
          </div>

          <div class="control-group">
            <%= f.label "Объем двигателя, мощность", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :engine_volume, :class => 'form-inline full-width', size: 20, value: cookies[:engine_volume] %>
            </div>
            <%= error_span(@order[:engine_volume]) %>
          </div>

          <div class="control-group">
            <%= f.label 'Трансмиссия', :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select :transmission_id, Transmission.all, :id, :name, {selected: cookies[:transmission]}, {:class => 'form-inline full-width wrapper-dropdown'} %>
            </div>
            <%= error_span(@order[:transmission]) %>
          </div>

          <div class="control-group">
            <%= f.label :vin, 'Номер кузова (VIN)', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :vin, :class => 'form-inline full-width', size: 20, value: cookies[:vin] %>
              <div class="text-success">Указание VIN сильно упростит и ускорит подбор. Указан в техпаспорте.</div>
            </div>
            <%= error_span(@order[:vin]) %>
          </div>
        </div>


        <div class="col-lg-12 bottom-buffer">
          <div class="control-group">
            <%= f.label 'Требуемые запчасти', :class => 'control-label required' %>
            <div class="controls">
              <%= f.text_area :details, :class => 'form-control', cols: 50, rows: 3, placeholder: 'Например: Амортизатор передний правый' %>
            </div>
            <%= error_span(@order[:details]) %>
          </div>
        </div>


        <% if @order.secret %>
            <%= f.hidden_field :secret, :value => @order.secret %>
        <% end %>

        <div>
          <div class="col-lg-12">
            <%= f.label 'Подтвердите, что вы не спам-робот', :class => 'control-label required' %>
            <%= recaptcha_tags %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12"><%= f.submit 'Начать получать предложения', :class => 'btn btn-primary top-buffer' %></div>
        </div>
        <div class="top-buffer-2"></div>
        <div class="row">
          <!----
          <div class="col-lg-12"><span class="text-muted"> Создавая заказ, вы принимаете условия пользовательского соглашения</span></div>
          --->
        </div>

<% end %>
</div>
</div>
