<div id="no-more-tables">
  <table id="orders" class="table table-striped table-condensed animated fadeIn">
    <thead>
    <tr>
      <th>Номер заказа</th>
      <th>Регион</th>
      <th>Имя<br>-<br>Телефон</th>
      <th>Тип Детали</th>
      <th>Марка<br>-<br>Модель</th>
      <th>Тип Кузова</th>
      <th>Год</th>
      <th>Тип<br>-<br>Объем Двигателя</th>
      <th>Трансмиссия</th>
      <th>Описание</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% orders.each do |order| %>
        <tr>
          <td data-title="Номер заказа"><%= link_to order.id, order_path(order), :class => "btn #{'btn-success' if order.comments.top_level.where(:user_id => current_user.id).count > 0} btn-primary #{'btn-warning' if order.comments.count == 0} btn-xs" %></td>
          <td data-title="Регион"><%= order.city.name %></td>
          <td data-title="Имя - Телефон"><%= order.name %><br>-<br><%= order.phone %></td>
          <td data-title="Тип Детали"><strong><%= order.detail_type.name %></strong></td>
          <td data-title="Марка - Модель"><strong><%= order.make.name %></strong><br>-<br><%= order.model %></td>
          <td data-title="Тип кузова"><%= order.body.name %></td>
          <td data-title="Год"><%= order.year %></td>
          <td data-title="Тип двигателя - Объем двигателя"><%= order.engine.name %><br>-<br><%= order.engine_volume %></td>
          <td data-title="Тип трансмиссии"><%= order.transmission.name %></td>
          <td data-title="Описание"><%= link_to order.details, order_path(order) %></td>
          <td data-title="Действия">
            <%= link_to "Мои предложения (#{order.comments.top_level.where(:user_id => current_user.id).count})",
                        order_comments_path(order),
                        :class => "btn #{'btn-success' if order.comments.top_level.where(:user_id => current_user.id).count > 0} btn-primary #{'btn-warning' if order.comments.count == 0} btn-xs" %>
            <% if order.comments.count == 0 %>
                <br>
                <div class="bg-warning top-buffer">Пока ответов продавцов не поступало. Будьте первым!</div>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<p><%= will_paginate orders, renderer: BootstrapPagination::Rails %></p>