<%- model_class = Order -%>
<div class="page-header">
  <h1>Мои заказы</h1>
</div>
<div id="no-more-tables">
<table id="orders" class="table table-striped table-condensed">
  <thead>
  <tr>
    <th>Номер заказа</th>
    <th>Регион</th>
    <th>Имя<br>-<br>Телефон</th>
    <th>Тип Детали</th>
    <th>Марка<br>-<br>Модель</th>
    <th>Тип Кузова</th>
    <th>Год</th>
    <th>Тип<br>-<br>Объем Двигателя</th>
    <th>Трансмиссия</th>
    <th>VIN</th>
    <th>Описание</th>
    <th>Создано</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td data-title="Номер заказа"><%= link_to order.id, order_path(order, :secret => order.secret), :class => 'btn btn-primary btn-xs' %></td>
        <td data-title="Регион"><%= order.city.name %></td>
        <td data-title="Имя - Телефон"><%= order.name %><br>-<br><%= order.phone %></td>
        <td data-title="Тип Детали"><strong><%= order.detail_type.name %></strong></td>
        <td data-title="Марка - Модель"><strong><%= order.make.name %></strong><br>-<br><%= order.model %></td>
        <td data-title="Тип кузова"><%= order.body.name %></td>
        <td data-title="Год"><%= order.year %></td>
        <td data-title="Тип двигателя - Объем двигателя"><%= order.engine.name %><br>-<br><%= order.engine_volume %></td>
        <td data-title="Тип трансмиссии"><%= order.transmission.name %></td>
        <td data-title="VIN"><%= order.vin %></td>
        <td data-title="Описание"><%= link_to order.details, order_path(order) %></td>
        <td data-title="Создано"><%=l order.created_at %></td>
        <td data-title="Действия">
          <%= link_to "Предложений (#{order.comments.top_level.count}) / Всего сообщений (#{order.comments.count})", order_comments_path(order, :secret => order.secret), :class => 'btn btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order, :secret => order.secret), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order, :secret => order.secret),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<p><%= will_paginate @orders, renderer: BootstrapPagination::Rails %></p>
<p><%= link_to t('.new', :default => t("helpers.links.new")),
               new_order_path,
               :class => 'btn btn-primary' %></p>
