<div class="well">
<%= form_tag my_orders_search_path do %>

    <div class="control-group">
      <%= label_tag 'Email (*)', nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, nil, :class => 'form-control', value: cookies[:email] %>
      </div>
    </div>
    <div class="top-buffer"></div>
    <%= submit_tag "Искать", :class => 'btn btn-primary' %>
    <%= link_to 'Назад',
                :back, :class => 'btn btn-primary'  %>

<% end %>
</div>
