<%- model_class = Order -%>
<div class="page-header" id="orders">
  <h1>Заказ</h1>
</div>

<%= render :partial => 'brief' %>

<%= link_to 'Мои заказы',
              my_orders_path(:email => @order.email), :class => 'btn btn-primary'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_order_path(@order, :secret => @order.secret), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              order_path(@order, :secret => @order.secret),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<%= link_to "Ответы (#{@order.comments.count})", order_comments_path(@order, :secret => @order.secret), :class => 'btn btn-primary' %>
