<%- model_class = Order -%>
<div class="page-header">
  <h1>Заказ</h1>
</div>

<%= render :partial => 'brief' %>

<%= link_to "Мои предложения (#{@order.comments.top_level.where(:user_id => current_user.id).count})", order_comments_path(@order), :class => 'btn btn-primary' %>
