<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Поступила новая заявка на регистрацию продавца!</h1>
<p>
  Пользователь: <%= @registered_user.email %> - <%= @registered_user.name %>
</p>
<p>Телефон: <%= @registered_user.phone %></p>
<p>Информация: <%= @registered_user.information %></p>

</body>
</html>
