
<h1>Здравствуйте, <%= @comment.parent.user.name %>!</h1>
<p>
  Вам поступил ответ клиента <%= @comment.order.name %>: <%= link_to order_comment_url(order_id: @comment.order.id,
                                                                                       id: @comment.parent.id),
                                          order_comment_url(order_id: @comment.order.id,id: @comment.parent.id) %>
</p>
<h2>Марка, модель:</h2>
<p>
  <strong><%= @comment.order.make.name %>: </strong><%= @comment.order.model %>
</p>
<h2>Текст заказа:</h2>
<p>
  <%= @comment.order.details %>
</p>
