
<h1>Здравствуйте, <%= @comment.order.name %>!</h1>
<p>
  Вам поступил ответ на ваш Заказ: <%= link_to order_comment_url(order_id: @comment.order.id,id: @comment.id, :secret => @comment.order.secret),
                                               order_comment_url(order_id: @comment.order.id,id: @comment.id, :secret => @comment.order.secret) %>
</p>

<p>
  Все Ваши заказы доступны по ссылке: <%= link_to my_orders_url(:email => @comment.order.email),
                                                  my_orders_url(:email => @comment.order.email) %>
</p>
