<h2>Войти</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Пароль"%><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Запомнить меня" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти", class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="top-buffer-2"><hr></div>

<%= render "devise/shared/links" %>
