
<h1>Здравствуйте, <%= @order.name %>!</h1>
<p>
  Ваш заказ доступен по секретной ссылке: <%= link_to order_url(@order, :secret => @order.secret),
                                                      order_url(@order, :secret => @order.secret) %>
</p>

<p>
  Все Ваши заказы доступны по ссылке: <%= link_to my_orders_url(:email => @order.email),
                                                  my_orders_url(:email => @order.email) %>
</p>

<p>Уведомления об ответах продавцов будут автоматически приходить вам на этот почтовый ящик</p>

<% if @order.vin == '' %>
    <p style="color: #990000;">Пожалуйста, укажите номер кузова (VIN) из технического паспорта при первой возможности. Подбор многих запчастей без него невозможен</p>
<% end %>