<%= form_for @post, :html => { :class => "form-horizontal post", :multipart => true } do |f| %>

    <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@post[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :keywords, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keywords, :class => 'form-control' %>
    </div>
    <%= error_span(@post[:keywords]) %>
  </div>
  <div class="control-group">
    <%= f.label :short_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :short_description, :class => 'form-control' %>
    </div>
    <%= error_span(@post[:short_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :full_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :full_description, :class => 'form-control' %>
    </div>
    <%= error_span(@post[:full_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :published, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :published, :class => 'form-control' %>
    </div>
    <%= error_span(@post[:published]) %>
  </div>

    <div class="control-group">
      <%= f.label :picture, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture %>
      </div>
      <%= error_span(@post[:picture]) %>
    </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            posts_path, :class => 'btn btn-default' %>

<% end %>
