<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:short_description) %></th>
      <th><%= model_class.human_attribute_name(:full_description) %></th>
      <th><%= model_class.human_attribute_name(:published) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.picture.url(:thumb) %><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.keywords %></td>
        <td><%= sanitize post.short_description %></td>
        <td><%= sanitize post.full_description %></td>
        <td><%= post.published %></td>
        <td><%=l post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user_admin? %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
<% end %>

<p><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></p>