<%- model_class = Post -%>
<div class="page-header">
  <h1><%=@post.title %></h1>
</div>

<%= image_tag @post.picture.url(:medium) %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>
  <dd><%= @post.keywords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_description) %>:</strong></dt>
  <dd><%= sanitize @post.short_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:full_description) %>:</strong></dt>
  <dd><%= sanitize @post.full_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published) %>:</strong></dt>
  <dd><%= @post.published %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            posts_path, :class => 'btn btn-primary'  %>
<% if current_user_admin? %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>