/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require jquery-ui
 *= require nprogress
 *= require nprogress-bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.top-buffer { margin-top:20px; }
.top-buffer-2 { margin-top:50px; }
.top-buffer-3 { margin-top:70px; }
.top-buffer-4 { margin-top:100px; }
.top-buffer-5 { margin-top:120px; }
.bottom-buffer {margin-bottom: 20px;}
.bottom-buffer-2 {margin-bottom: 50px;}

a {
  cursor: pointer;
}

.btn:visited {
    color: #ffffff;
}

.full-width{
    width: 100%;
}

select {
    border: 1px solid #111;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: image-url("arrow-down.png") 96% / 5% no-repeat #fff;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

.control-group {
    min-height: 70px;
}

#nprogress .bar {
  height: 5px;
}

#nprogress .spinner-icon {
  position: fixed;
  top: 5%;
  right: 2%;
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  border: solid 10px transparent;
  border-top-color: #1ac6ff;
  border-bottom-color: #1ac6ff;
  border-radius: 50%;

  background-color: #ffffff;

  -webkit-animation: nprogress-spinner 1400ms linear infinite;
  animation: nprogress-spinner 1400ms linear infinite;
}

@media only screen and (max-width: 800px) {

  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr { border: 1px solid #ccc; }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}