// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.required {
  color: #b40000;
}

.required::after {
  color: red;
  content: " *";
}

.checkbox-wrapper{
  margin: 7px;
  font-size: 14px;
  padding: 7px;
  border: dotted #d7d9dd 2px;
  max-height: 42.8px;
}
