// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-arrow {
  color: #000000;
  font-size: 0.5em;
}

.jumbotron-icon {
  color: #1ac6ff;
}

.order-form {
  background-color: #1ac6ff;
}