<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы запросили смену пароля. Для того, чтобы это осуществить, воспользуйтесь ссылкой ниже</p>

<p><%= link_to 'Поменять пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не делали-просто проигнорируйте данное письмо</p>
<p>Ваш пароль не изменится до тех пор, пока вы не измените его по ссылке выше.</p>
