<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваш аккаунт временно заблокирован за большое количество вводов неправильного пароля.</p>

<p>Ссылка для разблокировки:</p>

<p><%= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token) %></p>
